In [2]:
import pandas as pd

In [5]:
df = pd.read_csv('Data/January/202401-divvy-tripdata.csv')
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,C1D650626C8C899A,electric_bike,2024-01-12 15:30:27,2024-01-12 15:37:59,Wells St & Elm St,KA1504000135,Kingsbury St & Kinzie St,KA1503000043,41.903267,-87.634737,41.889177,-87.638506,member
1,EECD38BDB25BFCB0,electric_bike,2024-01-08 15:45:46,2024-01-08 15:52:59,Wells St & Elm St,KA1504000135,Kingsbury St & Kinzie St,KA1503000043,41.902937,-87.634440,41.889177,-87.638506,member
2,F4A9CE78061F17F7,electric_bike,2024-01-27 12:27:19,2024-01-27 12:35:19,Wells St & Elm St,KA1504000135,Kingsbury St & Kinzie St,KA1503000043,41.902951,-87.634470,41.889177,-87.638506,member
3,0A0D9E15EE50B171,classic_bike,2024-01-29 16:26:17,2024-01-29 16:56:06,Wells St & Randolph St,TA1305000030,Larrabee St & Webster Ave,13193,41.884295,-87.633963,41.921822,-87.644140,member
4,33FFC9805E3EFF9A,classic_bike,2024-01-31 05:43:23,2024-01-31 06:09:35,Lincoln Ave & Waveland Ave,13253,Kingsbury St & Kinzie St,KA1503000043,41.948797,-87.675278,41.889177,-87.638506,member

In [ ]:
df.info()
df.isna().sum()
# df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144873 entries, 0 to 144872
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             144873 non-null  object
 1   rideable_type       144873 non-null  object
 2   started_at          144873 non-null  object
 3   ended_at            144873 non-null  object
 4   start_station_name  125708 non-null  object
 5   start_station_id    125708 non-null  object
 6   end_station_name    124124 non-null  object
 7   end_station_id      124124 non-null  object
 8   start_lat           144873 non-null  float64
 9   start_lng           144873 non-null  float64
 10  end_lat             144585 non-null  float64
 11  end_lng             144585 non-null  float64
 12  member_casual       144873 non-null  object
dtypes: float64(4), object(9)
memory usage: 14.4+ MB

ride_id                   0
rideable_type             0
started_at                0
ended_at                  0
start_station_name    19165
start_station_id      19165
end_station_name      20749
end_station_id        20749
start_lat                 0
start_lng                 0
end_lat                 288
end_lng                 288
member_casual             0
dtype: int64

In [10]:
df.dropna(subset=['start_station_name', 'end_station_name'], inplace=True)
df.drop_duplicates(inplace=True)

In [11]:
df['started_at'] = pd.to_datetime(df['started_at'])
df['ended_at'] = pd.to_datetime(df['ended_at'])

In [14]:
df['ride_length_min'] = (df['ended_at'] - df['started_at']).dt.total_seconds() / 60
print(df['ride_length_min'])

0          7.533333
1          7.216667
2          8.000000
3         29.816667
4         26.200000
            ...
144868     9.850000
144869     8.516667
144870    10.150000
144871     9.866667
144872    20.916667
Name: ride_length_min, Length: 113808, dtype: float64

In [47]:
df['day_of_week'] = df['started_at'].dt.day_name()
df['hour'] = df['started_at'].dt.hour
df['date'] = df['started_at'].dt.date

In [16]:
df[df['ride_length_min'] > 30]

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,ride_length_min,day_of_week
63,6746D87EC245AB90,electric_bike,2024-01-21 14:15:46,2024-01-21 15:26:29,Clarendon Ave & Junior Ter,13389,Sheridan Rd & Montrose Ave,TA1307000107,41.961017,-87.649614,41.961670,-87.654640,member,70.716667,Sunday
75,8FCB5FA3DB523388,electric_bike,2024-01-25 19:16:36,2024-01-25 20:08:42,Wells St & Elm St,KA1504000135,Wabash Ave & Grand Ave,TA1307000117,41.902847,-87.634519,41.891466,-87.626761,member,52.100000,Thursday
79,C24AD33E4203FE44,classic_bike,2024-01-21 09:01:01,2024-01-22 09:33:24,Lincoln Ave & Waveland Ave,13253,Lincoln Ave & Roscoe St*,chargingstx5,41.948797,-87.675278,41.943350,-87.670668,member,1472.383333,Sunday
84,CB12D67FEDC3A929,classic_bike,2024-01-03 19:53:16,2024-01-03 23:29:05,Wells St & Elm St,KA1504000135,Wabash Ave & Grand Ave,TA1307000117,41.903222,-87.634324,41.891466,-87.626761,member,215.816667,Wednesday
87,8077B5530B842F07,classic_bike,2024-01-06 17:26:55,2024-01-06 17:58:58,Rush St & Cedar St,KA1504000133,DuSable Lake Shore Dr & Diversey Pkwy,TA1309000039,41.902309,-87.627691,41.932588,-87.636427,member,32.050000,Saturday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144789,4E4911D29B152667,classic_bike,2024-01-06 10:29:59,2024-01-06 11:17:43,Michigan Ave & Jackson Blvd,TA1309000002,Troy St & Elston Ave,15631,41.878005,-87.624144,41.945244,-87.706650,member,47.733333,Saturday
144809,673C39154862464E,classic_bike,2024-01-24 07:21:24,2024-01-24 07:52:06,Damen Ave & Melrose Ave,13143,Talman Ave & Addison St,15632,41.940600,-87.678500,41.946636,-87.694615,casual,30.700000,Wednesday
144842,AA2D72F06C804F65,electric_bike,2024-01-25 15:55:39,2024-01-25 16:25:52,Dearborn St & Van Buren St,624,Mies van der Rohe Way & Chestnut St,15529,41.876253,-87.629198,41.898587,-87.621915,member,30.216667,Thursday
144844,9D2B7C9EBBB46D8A,classic_bike,2024-01-09 15:05:06,2024-01-09 16:03:52,State St & Randolph St,TA1305000029,Mies van der Rohe Way & Chestnut St,15529,41.884621,-87.627834,41.898587,-87.621915,member,58.766667,Tuesday
144854,66A448A6D0210E77,classic_bike,2024-01-05 06:44:42,2024-01-05 07:14:45,Honore St & Division St,TA1305000034,Halsted St & Maxwell St,TA1309000001,41.903119,-87.673935,41.864883,-87.647071,member,30.050000,Friday

In [ ]:
df[(df['rideable_type'] == 'electric_bike') & (df['member_casual'] == 'casual')]

In [18]:
df.sort_values('ride_length_min', ascending=False).head(5)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,ride_length_min,day_of_week
95203,D1B2433CCB28F892,classic_bike,2024-01-17 07:44:28,2024-01-18 08:41:47,Ellis Ave & 60th St,KA1503000014,Harper Ave & 59th St,KA1503000070,41.785097,-87.601073,41.787943,-87.588315,member,1497.316667,Wednesday
27798,56A5F1C0B859503C,classic_bike,2024-01-17 07:07:16,2024-01-18 07:57:33,Clark St & Schiller St,TA1309000024,Wabash Ave & Grand Ave,TA1307000117,41.907993,-87.631501,41.891466,-87.626761,member,1490.283333,Wednesday
134139,11F9A6B2C19D9D47,classic_bike,2024-01-29 09:51:12,2024-01-30 10:32:34,Lincoln Ave & Addison St,TA1309000050,Clark St & Winnemac Ave,TA1309000035,41.946176,-87.673308,41.973348,-87.667855,member,1481.366667,Monday
49048,227A1FBADBB190F4,classic_bike,2024-01-25 18:48:50,2024-01-26 19:27:47,McClurg Ct & Ohio St,TA1306000029,Clark St & Lincoln Ave,13179,41.892592,-87.617289,41.915689,-87.634600,casual,1478.950000,Thursday
91340,A802BD4C99B53685,classic_bike,2024-01-17 11:21:05,2024-01-18 11:57:18,Kingsbury St & Erie St,13265,Orleans St & Merchandise Mart Plaza,TA1305000022,41.893808,-87.641697,41.888243,-87.636390,member,1476.216667,Wednesday

In [19]:
df[(df['start_station_name'] == "Wells St & Elm St") & df['end_station_name'] == "Kingsbury St & Kinzie"]

Empty DataFrame
Columns: [ride_id, rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng, member_casual, ride_length_min, day_of_week]
Index: []

In [ ]:
df[(df['start_station_name'] == 'Wells St & Elm St') &
   (df['end_station_name'] == 'Kingsbury St & Kinzie St')]

In [25]:
df.groupby('member_casual')['ride_length_min'].mean()

member_casual
casual    15.536480
member    11.554203
Name: ride_length_min, dtype: float64

In [26]:
df.groupby('rideable_type').count()

,ride_id,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,ride_length_min,day_of_week
rideable_type,,,,,,,,,,,,,,
classic_bike,76209,76209,76209,76209,76209,76209,76209,76209,76209,76209,76209,76209,76209,76209
electric_bike,37599,37599,37599,37599,37599,37599,37599,37599,37599,37599,37599,37599,37599,37599

In [27]:
df.groupby(['member_casual', 'rideable_type'])['ride_length_min'].mean()

member_casual  rideable_type
casual         classic_bike     20.062724
               electric_bike     9.206479
member         classic_bike     12.826545
               electric_bike     8.779887
Name: ride_length_min, dtype: float64

In [28]:
df['start_station_name'].value_counts().head(5)

start_station_name
Clinton St & Washington Blvd    1391
Kingsbury St & Kinzie St        1368
University Ave & 57th St        1267
Clinton St & Madison St         1223
Ellis Ave & 60th St             1155
Name: count, dtype: int64

In [30]:
df['day_of_week'].value_counts()

day_of_week
Wednesday    24620
Thursday     21218
Monday       18751
Tuesday      17936
Friday       13047
Saturday      9385
Sunday        8851
Name: count, dtype: int64

In [35]:
df.groupby('hour')['ride_length_min'].mean()

hour
0     12.487208
1     18.245914
2     19.305902
3     12.413197
4     10.100637
5     10.938794
6     10.392646
7     11.512845
8     11.161871
9     11.614936
10    13.158750
11    13.062409
12    11.972574
13    13.051249
14    12.136848
15    12.428864
16    13.123801
17    12.913910
18    11.785877
19    10.990886
20    11.681914
21    10.569660
22    12.453019
23    12.033526
Name: ride_length_min, dtype: float64

In [40]:
df.groupby('start_station_name')['ride_id'].count().sort_values(ascending=False)

start_station_name
Clinton St & Washington Blvd                     1391
Kingsbury St & Kinzie St                         1368
University Ave & 57th St                         1267
Clinton St & Madison St                          1223
Ellis Ave & 60th St                              1155
                                                 ...
Public Rack - Central Ave & Adams St                1
Shabbona Park                                       1
Public Rack - Calumet Ave & 51st St                 1
Kedzie Ave & 83rd St                                1
Public Rack - California Ave & Devon Ave - NE       1
Name: ride_id, Length: 937, dtype: int64

In [42]:
df['is_weekend'] = df['day_of_week'].isin(['Saturday', 'Sunday'])
df.groupby(['is_weekend', 'member_casual'])['ride_length_min'].mean()

is_weekend  member_casual
False       casual           15.506637
            member           11.589264
True        casual           15.653146
            member           11.358941
Name: ride_length_min, dtype: float64

In [45]:
df.groupby('member_casual')['start_station_name'].agg(lambda x: x.value_counts().index[0])

member_casual
casual             Ellis Ave & 60th St
member    Clinton St & Washington Blvd
Name: start_station_name, dtype: object

In [48]:
df_filtered = (
    df.groupby('date')
      .filter(lambda x: len(x) > 100)  # keep only groups (days) with >100 rides
)

df_filtered.groupby('date')['ride_length_min'].mean()

date
2024-01-01    14.812411
2024-01-02    10.607338
2024-01-03    10.531866
2024-01-04    10.900320
2024-01-05    10.696123
2024-01-06    12.417593
2024-01-07    10.918480
2024-01-08    11.231458
2024-01-09    10.634773
2024-01-10     9.943448
2024-01-11    10.272531
2024-01-12    10.958950
2024-01-13     9.713070
2024-01-14    11.224583
2024-01-15    10.078284
2024-01-16    26.829830
2024-01-17    36.991905
2024-01-18    14.552093
2024-01-19    12.899704
2024-01-20    13.775801
2024-01-21    15.125498
2024-01-22    11.805816
2024-01-23    13.368638
2024-01-24     9.719514
2024-01-25    10.647774
2024-01-26    12.161404
2024-01-27    12.856966
2024-01-28    11.726763
2024-01-29    11.693296
2024-01-30    12.135327
2024-01-31    11.707255
Name: ride_length_min, dtype: float64

In [49]:
pd.pivot_table(df, values='ride_id', index = 'day_of_week', columns = 'member_casual', aggfunc = 'count')

member_casual  casual  member
day_of_week
Friday           2234   10813
Monday           2862   15889
Saturday         1857    7528
Sunday           1751    7100
Thursday         3176   18042
Tuesday          2514   15422
Wednesday        3319   21301